<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target
      name="errorLog"
      xsi:type="File"
      autoFlush="true"
      keepFileOpen="false"
      fileName="${basedir}/Logs/error_${shortdate}.log"
      layout="Time: ${date:format=HH\:mm\:ss.fff}${newline}Method: ${callsite:className=true:methodName=true}${newline}Message: ${message}${newline}Line: ${callsite-linenumber}${newline}Content: ${exception:format=ToString,Message}${newline}${exception:format=ToString,StackTrace}${newline}"
      />
    <target
      name="infoLog"
      xsi:type="File"
      autoFlush="false"
      keepFileOpen="true"
      fileName="${basedir}/Logs/info_${shortdate}.log"
      layout="Time: ${date:format=HH\:mm\:ss.fff}${newline}Message: ${message}${newline}"
      />
    <target
      name="debugLog"
      xsi:type="File"
      autoFlush="false"
      keepFileOpen="true"
      fileName="${basedir}/Logs/debug_${shortdate}.log"
      layout="Time: ${date:format=HH\:mm\:ss.fff}${newline}Message: ${message}${newline}"
      />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*"
             minlevel="Info"
             maxlevel="Info"
             writeTo="infoLog">
    </logger>
    <logger name="*"
            minlevel="Error"
            maxlevel="Error"
            writeTo="errorLog">
    </logger>
    <logger name="*"
            minlevel="Debug"
            maxlevel="Debug"
            writeTo="debugLog">
    </logger>
  </rules>
</nlog>